
.bookbtn{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 15px !important;
    background: #F1F3F6 !important;
    mix-blend-mode: normal !important;
    width: 140px !important;
    border: 1px solid #D5D6D5 !important;
    box-sizing: border-box !important;
    border-radius: 6px !important;
    color: #56ADE8 !important;
}
.store-btn{
    border: none;
    outline: none;
    cursor: pointer;
    background: none;
    height: auto;
    width: auto;
    z-index: 3;
    transition: all 0.25s ease-in-out;
}
.apple-btn{
    border: none;
    background-color: rgb(51, 51, 51);
    padding: 20px;
    height: 68px;
    margin: 0px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.facebook-btn{
    border: none;
    background-color: rgb(59, 89, 152);
    padding: 20px;
    height: 68px;
    margin: 0px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.google-btn{
    border: none;
    background-color: $white;
    padding: 20px;
    height: 68px;
    margin: 0px 10px;
    border-radius: 50%;
    cursor: pointer;
}
.store-btn:hover{
    transform: translateY(-5px);
}
.blackbtn{
    background: $ninja !important;
    border-radius: 16px !important;
    color: $white !important;
}
.loginbtn{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    max-width: 435px !important;
    width: 100% !important;
    height: 60px !important;
    .icon{
        position: unset !important;
        margin-right: 16px;
        height: 32px;
        width: auto;
        transform: unset !important;
        svg{
            height: 100% !important;
            width: auto !important;
        }
    }
    .text{
        position: unset !important;
    }
}
.countinebtn{
    height: 52px !important;
}
.whitebtn{
    background: $white !important;
    color: $ninja !important;
    border: 2px solid #56ADE8 !important;
    border-radius: 16px !important;
}
.btnicon { // button with icon
    svg{
        width: 24px;
        height: 24px;
    }
}
.btn > div {
    top: 0px !important;
}
.btn-des{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 15px !important;
    mix-blend-mode: normal !important;
    border: unset !important;
    box-sizing: border-box !important;
    border-radius: 38px !important;
    color: $wolf !important;
}
.btn-des.disabled{
    color: rgba(213, 214, 213, 1) !important;
}
.learnbtn{
    font-family: 'Montserrat', sans-serif !important;
    font-style: normal !important;
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 15px !important;
    background: $premo !important;
    mix-blend-mode: normal !important;
    border: unset !important;
    box-sizing: border-box !important;
    border-radius: 38px !important;
    color: $white !important;
}
.bluebtn{
    background: #56ADE8 !important;
    color: $white;
}
.btn-md{
    width: 180px !important;
    height: 50px !important;
}
.btn-sm{
    width: 60px !important;
    height: 60px !important;
}
.appstore-btn{
    border-radius: 26px !important;
}
@media (min-width: 900px){
    .store-btn{
        transform: scale(0.8);
    }
}