@import 'navbar';
@import 'drop';
@import 'buttons';
@import 'index';
@import 'layout';
@import 'portal';
@import 'partners';
@import 'product';
@import 'appvideo';
@import 'footer';
@import 'tabs';
@import 'pricecard';
@import 'productmodal';
@import 'device';
@import 'premozone';
// fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&family=Noto+Sans:wght@400;700&display=swap');
// font-family: 'Noto Sans', sans-serif;
// font-family: 'Noto Sans KR', sans-serif;
*{
    font-family: 'Roboto', sans-serif;
}
.img-avatar{
    border-radius: 25% !important;
}
.flicking{
    z-index: 1;
}
.child-flex > p{
 display: flex;
}
.w-100{
    width: 100% !important;
    // img{ // blocks user select for images inside carousel
        -moz-user-select: none;
        -webkit-user-select: none;
        user-select: none;
        pointer-events: none;

    // }
}
.image.jsx-4179429641{
    margin: unset !important;
}
