.main-hero{
    background: #3D5582;
    position: relative;
    color: white;
    min-height: calc(100vh - 70px);
    .image{
        border-radius: 0px !important;
    }
}

.main-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    position: relative;
}
.hero-panel, .hero-panel >div{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}
.hero-title{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 80px;
    z-index: 10;
    padding: 0px 24px;
    text-shadow: 0px 0px 30px rgba(51, 51, 51, 0.7);
}
.hero-description,.hero-moto{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    z-index: 10;
    padding: 0px 24px;
    text-shadow: 0px 0px 30px rgba(51, 51, 51, 0.7);
}
.hero-btn{
    margin: 40px 24px;
}
@media (min-width: 900px) {
    .hero-description,.hero-title{
        padding: 0px 64px;
    }
    .hero-btn{
        margin: 40px 64px;
    }
}
@media (max-width: 300px){
    .hero-title{
        font-size: 48px !important;
        line-height: 56px !important;
    }
    .hero-description{
        font-size: 16px !important;
        list-style: 24px !important;
    }
}
.index-cta{
    max-width: 295px !important;
    width: 90% !important;
    overflow: hidden;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center !important;
    flex-direction: column;
    border-radius: 16px !important;
    > .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px 16pt 16pt 16pt !important;
    }
}
.index-cta-background{
    border-radius: unset !important;
    border-top-right-radius: 16px !important;
    border-top-left-radius: 16px !important;
    height: 155px !important;
}
.index-cta-background-p{
    position: absolute !important;
    bottom: 16px;
    align-self: center;
    transform: scale(1.5);
}
.security{
    position: absolute !important;
    right: -16px;
    transform: scale(1.5);
}
.index-cta-description{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
@media (max-width: 900px){
    .main-hero{
        background: rgba(61, 85, 130, 0.85);
        position: relative;
        min-height: calc(100vh - 70px);
    }
    .main-hero:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: url('../public/hero/h0.jpg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover; 
      }
      .hero-title{
        font-size: 56px;
        line-height: 64px;
      }
      .hero-description{
        font-size: 20px;
        line-height: 24px;
        text-shadow: 0px 0px 30px rgba(51, 51, 51, 0.7);
      }
      .hero-btn{
        margin: 0px;
    }
      .hero-hover{
          width: 48px;
          color: white;
          height: 48px;
          z-index: 5;
          position: absolute;
          bottom: 16px;
          animation: hover-bottom 1.25s infinite;
      }
}
.mobile-arrow{
    position: absolute;
    transform: scale(3);
    z-index: 3;
    animation: hover-bottom 2s infinite;
    align-self: center;
    filter: drop-shadow( 0px 0px 1px $premo);
}
@keyframes hover-bottom {
    0% {bottom: 32px;}
    50% {bottom: 24px;}
    100% {bottom: 32px;}

  }