.main-hero{
    // width: 100vw;
    background: #3D5582;
    position: relative;
    color: white;
    height: calc(100vh - 70px);
    .image{
        border-radius: 0px !important;
        max-height: calc( 100vh - 70px);
        min-height: 400px;
    }
    .awssld{
        height: calc(100vh - 70px);
    }
}
.main-center{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.hero-panel, .hero-panel >div{
    height: 100% !important;
    width: 100% !important;
    object-fit: cover;
}
.hero-title{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 49px;
    line-height: 57px;
    z-index: 10;
    padding: 0px 24px;
    text-shadow: 0px 0px 30px rgba(51, 51, 51, 0.7);
}
.hero-description{
    font-family: "Roboto",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    z-index: 10;
    padding: 0px 24px;
    text-shadow: 0px 0px 30px rgba(51, 51, 51, 0.7);
}
.hero-btn{
    margin: 40px 24px;
}
@media (max-width: 300px){
    .hero-title{
        font-size: 48px !important;
        line-height: 56px !important;
    }
    .hero-description{
        font-size: 16px !important;
        list-style: 24px !important;
    }
}
.index-cta{
    width: 255px !important;
    height: 420px;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
}
.index-cta-background{
    border-radius: unset !important;
    height: 100% !important;
}
.index-cta-background-p{
    position: absolute !important;
    top: 80px;
}
.index-cta-description{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
@media (max-width: 900px){
    .main-hero{
        background: rgba(61, 85, 130, 0.85);
        position: relative;
        height: calc(100vh - 70px);
    }
    .main-hero:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background: url('../public/test.png');
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover; 
      }
      .hero-title{
        font-size: 56px;
        line-height: 64px;
      }
      .hero-description{
        font-size: 20px;
        line-height: 24px;
        text-shadow: 0px 0px 30px rgba(51, 51, 51, 0.7);
      }
      .hero-btn{
        margin: 0px;
    }
      .hero-hover{
          width: 48px;
          color: white;
          height: 48px;
          z-index: 5;
          position: absolute;
          bottom: 16px;
          animation: hover-bottom 1.25s infinite;
      }
}
@keyframes hover-bottom {
    0% {bottom: 24px;}
    50% {bottom: 16px;}
    100% {bottom: 24px;}

  }