.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    height: 70px;
    background: white;
    position: fixed;
    z-index: 998;
}
.navbar-desktop{
    flex-direction: row;
}
.nav-item{
    cursor: pointer;
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
    align-items: center;
    color: #333333 !important;
}
.active{
    color: $premo;
}
.navbar-icon{
    display: flex;
    justify-content: flex-start;
    margin: 0px 40px;
    width: 120px;
    height: 100%;
}
.navbar-content{
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-right: 24px;
    > :nth-child(1n){
        margin: 0px 24px;
    }
    > :last-child{
        margin: 0px;
    }
}
.navbar-mobile{
    position: fixed;
    top: 0px;
    z-index: 999;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 8px;
}
.bm-burger-button {
    position: relative;
    height: 40px;
    width: 40px;
}
.bm-icon{
    height: 40px;
    width: 40px;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
height: 24px;
width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
background: black;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
position: fixed;
height: 100%;
top: 0;
}

/* General sidebar styles */
.bm-menu {
background: #ECF3F6;
// padding: 1.5em 1.5em 0;
font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
display: flex;
flex-direction: column;
padding: 0px 24px;
a {
    color: #333333;
}
> :first-child{
    margin-top: 40px;
}
 > :nth-child(1n){
    //  margin: 0 24px;
 }
}
/* Individual item */
.bm-item {
display: inline-block;
font-family: 'Roboto';
font-style: normal;
font-size: 18px;
line-height: 24px;

/* Ninja */

color: #333333;
}
.bm-item-active{
font-weight: bold;
}
/* Styling of overlay */
.bm-overlay {
    top: 0;
    right: 0;
}