.section-partners{
    background: #ECF3F6;
    height: 400px;
}
.awssld__content{
    color: #3333 !important;
    fill: black !important;
    background: white !important;
}
.partners-box{
    background: #FFFFFF;
    box-shadow: 0px 5px 20px rgba(13, 32, 119, 0.05);
    border-radius: 15px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    width: 80vw;
    max-width: 600px;
    h4{
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
    }
}
.partner-icon{
    svg{
        width: 80px;
        height: 80px;
        object-fit: fill;
    }
}
.flicking0{
    width: 100%;
    padding: 0px 24px;
}
.panel{
    height: 32px;
    width: 120px;
    div,svg{
        height: 32px;
        width: 120px;
        object-fit: cover;
        text-align: center;
        user-select: none !important;
        pointer-events: none !important;
    }
}