.portal-lg{
    width: 140px !important;
    position: fixed !important;
    top: 62px !important;
    left: unset !important;
    right: -77px;
}
.child-flex{
    display: flex !important;
    align-items: center;
    justify-content: center;
    p{
        display: flex;
    }
}