.premozone-blog{
    background: #F9FBFC;
    width: 100%;
    padding: 24px !important;
}
.premozone-blog-block{
    box-shadow: 0px 5px 20px rgba(13, 32, 119, 0.05);
    border: 1px solid #efefef;
}
.premozone-blog-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 24px 36px 24px;
}
.premozone-card-body{
    padding: 16px;
    text-align: left;
    display: flex;
    flex-direction: column;
}
.premo-text{
    span{
        color: #74727a;
        font-size: 14px;
        font-weight: 400;
        transition: all .4s ease-in-out;
    }
    h3:hover,span:hover{
        color: #F3A875;
    }
    h3{
        display: inline-block; 
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #2a2833;
        transition: all .4s ease-in-out;
    }
}
.premozone-card-readmore{
    color: #F3A875;
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .2em;
    transition: all .4s ease;
    position: absolute;
    bottom: 0px;
    right: 24px;
    cursor: pointer;
}
.premozone-card-readmore:hover{
    color: black;
}
.premozone-card{
    width: 300px !important;
    height: 380px !important;
    margin: 24px !important;
    overflow: hidden;
    .image{
        height: 240px !important;
        width: 100% !important;
        img{
            object-fit: cover;
        }
    }
    .content{
        display: flex !important;
        flex-direction: column;
        text-align: center;
        padding: 0px !important;
        position: relative;
    }
}
.premozone-blog-header{
    width: 100%;
    margin: 0px auto;
    border-radius: 8px;
    > .image{
        width: 100% !important;
    }
    > .image > img{
        object-fit: cover;
    }
    h1{
        font-weight: bold;
        font-size: 24px;
        line-height: 32px;
        text-align: left;
        width: 100%;
    }
    .post-info{
        display: flex;
        align-items: center;
        padding: 16px;
        flex-direction: column;
        div{
            display: flex;
            margin-right: auto;
            align-items: center;
        }
    }
}
.post-blog{
    width: 100%;
}
.premo-zone-link{
    color: #74727a !important;
    font-size: 16px;
    font-weight: 400;
    display: block;
    position: relative;
    transition: all .4s ease;
    cursor: pointer;
}
.premo-zone-link:hover{
    color: #F3A875 !important;
}
.premo-zone-link::before{
    content: '>';
    color: #7b7b8c;
    font-weight: 900;
    font-size: 14px;
    position: absolute;
    top: 0;
    right: 0;
}
.active.jsx-1674347436{
    background-color: #F3A875 !important;
    color: white !important;
}
button.jsx-1674347436{
    color: black !important;
}