.signup-box{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 300px;
    padding: 16px 0px !important;        
    > :nth-child(1n){
        margin: 8px 0px;
    }
    .purchase-slider{
        width: 90% !important;
    }
}
.signnup-title{
    display: flex;
    align-items: center;
    width: 100%;
    background: #F3F3F3;
    :first-child{
        color: $ninja;
        font-size: 20px;
        padding: 8px;
        margin: 0 auto;
    }
}

@media (max-width: 300px){
    .logincard{
        .content{
            padding: 8pt !important;
        }
        button{
            margin: 8px;
        }
        .store-btn{
            height: 100% !important;
            padding: 8px !important;

        }
    }
}