.tabs {
    width: 300px !important;
    margin: 40px 0px;
    min-height: 60px;
    .tabs-header {
        justify-content: space-evenly;
        padding: 16px 0px;
        display: flex;
        align-items: center;
        .tab-btn {
            width: 136px !important;
            height: 50px !important;
            border-radius: 11px;
            min-width: unset !important;
            background: rgba(136, 136, 136,0.2);
            color: rgba(136, 136, 136,0.9);
            font-family: 'Noto Sans', sans-serif;
            font-size: 14px;
            line-height: 19px;
            justify-content: center;
        }
        .tab-btn:hover{
            background: #E8EFF9;
            color: #333333;
            box-shadow: 5px 2px 20px rgba(61, 85, 130, 0.15), inset 0px -1px 1px rgba(61, 85, 130, 0.25);
            opacity: 1;
        }
        .tab-active{
            background: #E8EFF9;
            color: #333333;
            box-shadow: 5px 2px 20px rgba(61, 85, 130, 0.15), inset 0px -1px 1px rgba(61, 85, 130, 0.25);
            opacity: 1;
        }
    }
}
.price-section{
    background: #ECF3F6;
    min-height: calc(100vh - 280px);
}