
.tabs > header{
    width: 280px;
    height: 52px;
    background: #E8EFF9;
    // box-shadow: inset 2px 2px 5px rgba(105, 141, 173, 0.4);
    border-radius: 12px;
    padding: 4px;
    .active{
        // background: #E8EFF9 !important;
        // box-shadow: 5px 2px 20px rgba(61, 85, 130, 0.15), inset 0px -1px 1px rgba(61, 85, 130, 0.25);
        // border-radius: 11px;
    }
    > div{
        margin: 0px !important;
        border: unset !important;
        // background: #D5D6D5;
        // opacity: 0.34;
        // border-radius: 11px;
        padding: 0px !important;
        width: 100%;
        height: 100%;
    }
    // div:after{content:none !important;}
}